.rounded-md {
  border-radius: 0.625rem;
}

.card-border {
  border: 1px solid #dee2e6 !important;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  opacity: 0.9;
}
.pad-100 {
  padding-top: 100px !important;
  color: #fff !important;
}

.pad-100 p,
h4 {
  color: #fff !important;
}

.slick-prev {
  left: 2% !important;
  /* font-size: 100px !important; */
  z-index: 100;
}
.slick-next {
  right: 2% !important;
  z-index: 100;
}

.track-btn {
  position: fixed;
  z-index: 9999;
  right: 0;
}
.track-input {
  flex: 1 1 auto;
  /* margin-right: .1rem; */
  height: 5.6rem;
  border: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bg-tracking {
  height: 450px;
  padding: 100px 10px;
}

.bg-tracking h2 {
  color: #00656d;
}

/* pricing caed */
.single-price-item {
  background: #fff;
  padding: 25px;
  margin-bottom: 30px;
  text-align: center;
}
.single-price-item h4 {
  margin: 25px 0;
  background: #f8a555;
  display: inline-block;
  padding: 15px 25px;
  color: #fff;
  font-size: 17px;
}
.single-price-item p {
  margin-bottom: 50px;
}

.single-price-item p b {
  font-size: 40px;
  color: #191919;
}

.single-price-item ul li {
  list-style: none;
  text-align: center;
}

.list {
  font-weight: bold;
}

.shad:hover {
  box-shadow: 0 3px 9px -2px #d0cece;
  cursor: pointer;
}

.facts-main-block {
  background-color: #00656d;
  padding: 80px;
}
.facts-heading {
  color: white;
  font-size: 60px;
  display: inline-block;
  font-weight: 500;
}

.facts-block span {
  font-size: 25px;
  color: white;
}

.facts-dtl {
  font-size: 20px;
  color: #f8a555;
}

.testimonials{
  height: 600px;
  padding: 100px 0;
}

.testimonial-client-img{
  margin-bottom: 20px;
  border-radius: 100%;
}

.testimonial-text {
  line-height: 30px;
  padding: 0 190px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 20px;
  font-family: 'FontAwesome';
}

.fa-star{
  /* background: #f8a555;  */
  color: #f8a555 ;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .facts-dtl {
    font-size: 17px;
  }
}


@media only screen and (max-width: 900px) {
  .testimonial-text {
    line-height: 30px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 16px;
    font-family: 'FontAwesome';
  }
}
