.home-slider-bg {
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  position: relative;
}
.bg-white {
  background-color: transparent !important;
}

.service-banner {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  position: relative;
}

/* .sick-prev {
  left: 26px;

  background-color: black;
}
*/

.slick-next {
  right: 4% !important;
}

.overlay-bg {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.slider-heading {
  color: white;
  font-size: 50px;
  line-height: 60px;
}
.slider-subtitle {
  color: white;
  font-size: 20px;
}

.z-999 {
  z-index: 9999;
}

.slick-next:before,
.slick-prev:before {
  font-size: 50px !important;
  line-height: 1;
  opacity: 0.75;
  /* color: #12610f !important; */
}
.btn-dark {
  background-color: transparent;
  display: inline-block;
  color: #12610f;
  padding: 15px 30px;
  margin-right: 10px;
  border: 1px solid #12610f;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-dark:hover {
  background-color: white !important;
  opacity: 0.5 !important;
  color: #12610f;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* service card */

.about-points-block {
  padding: 31px 40px;
  background-color: #12610f;
  position: relative;
  z-index: 1;
  margin-top: -142px;
}

.about-points-icon {
  display: inline-block;
  color: #fff;
  padding-right: 8px;
}

.about-point-dtl {
  display: inline-block;
  color: #fff;
  vertical-align: top;
}

.cursor-pointer:hover{
  cursor: pointer;
}

.about-type {
  padding: 40px 55px;
  background-color: #efe7e7;
  margin-bottom: 100px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* mobile */

@media screen and (max-width: 900px) {
  .slick-next {
    right: 10% !important;
  
  } 

  .about-points-block {
    padding: 0px 40px !important;
    background-color: #12610f;
    position: relative;
    z-index: 1;
    margin-top: -142px;
  }
  

  .btn-dark{
    padding: 5px 8px;
    margin-right: 10px;
  }
  .home-slider-bg {
    height: 550px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;
  }
  
  .slider-heading {
    color: white;
    font-size: 30px;
    line-height: 80px;
  }
  .slider-subtitle {
    color: white;
    font-size: 15px;
  }

  .about-type {
    margin-bottom: 170px;
  }
}
