:root {
  --primary: #12610f !important;
}

.btn {
  padding: 8px 20px !important;
  border-radius: 4px !important;
  outline: none !important;
  border: none !important;
  font-size: 18px !important;
  color: #fff !important;
  cursor: pointer !important;
  background-color: var(--primary);
}

.btn:hover {
  padding: 6px 18px !important;
  transition: all 0.3s ease-out !important;
  background-color: transparent !important;
  color: #777  !important;
  border-radius: 4px !important;
  border: 2px solid var(--primary) !important;
  transition: all 0.3s ease-out !important;
}
