.drop-menu {
  background: red !important;
  width: 200px !important;
  position: absolute !important;
  top: 68px !important;
  list-style: none !important;
  text-align: start !important;
}

.drop-menu li {
  background: #fff !important;
  cursor: pointer !important;
}

.drop-menu li:hover {
  background: #12610f !important;
  color: white  !important;
}

.drop-menu.clicked {
  display: none !important;
}

.dropdown-link {
  display: block !important;
  height: 100% !important;
  width: 100% !important;
  text-decoration: none !important;
  color: black !important;
  padding: 16px !important;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-link:hover {
 color: white  !important;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none !important;
  }
}
